<template>
  <div class="text-left markdown">
    <h1>{{ title }}</h1>
    <div v-html="content"></div>
  </div>
</template>

<script>
import frontmatter from 'frontmatter'
import MarkdownIt from 'markdown-it'

export default {
  name: 'Post',
  async asyncData({ $axios, params }) {
    if (process.server) {
      const post = await $axios.$get(`/api/posts/${params.slug}`)

      const md = new MarkdownIt()
      const result = frontmatter(post.description)

      return {
        title: result.data.title,
        description: result.data.description,
        content: md.render(result.content)
      }
    } else {
      return {}
    }
  },
  head() {
    return {
      title: this.title,
      meta: [
        { hid: 'description', name: 'description', content: this.description }
      ]
    }
  }
}
</script>

<style>
.markdown h1 {
  @apply text-6xl;
}

.markdown p {
  @apply mt-4;
}

.markdown ol {
  @apply list-decimal list-outside ml-5;
}

.markdown ul {
  @apply list-disc list-outside ml-5;
}
</style>
