<template>
  <a :href="link" target="_blank">
    <h2 class="title">{{ title }}</h2>
    <p class="subtitle" v-html="description"></p>
  </a>
</template>

<script>
export default {
  props: {
    title: String,
    description: String,
    link: String
  }
}
</script>
