<template>
  <div>
    <blog-list-item
      v-for="item in list"
      :key="item.id"
      :title="item.title"
      :description="item.description"
      :link="item.link"
    >
    </blog-list-item>
  </div>
</template>

<script>
import frontmatter from 'frontmatter'
import BlogListItem from '@/components/BlogListItem'

export default {
  components: { BlogListItem },
  async asyncData({ $axios }) {
    if (process.server) {
      let posts = await $axios.$get('/api/posts')

      posts = posts.map(function(post) {
        const result = frontmatter(post.description)

        return {
          id: post.iid,
          slug: post.title,
          title: result.data.title,
          description: result.data.description,
          link: `/${post.title}`
        }
      })

      return { list: posts }
    } else {
      return []
    }
  },
  data: () => ({
    list: []
  }),
  head() {
    return {
      title: 'My Blogs',
      meta: [{ hid: 'description', content: 'My Blog', name: 'description' }]
    }
  }
}
</script>

<style></style>
